>>> ## Olb bike price prediction project

In [19]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [20]:
df = pd.read_csv('Used_Bikes.csv')
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [22]:
## duplicates 
df.duplicated().sum()

25324

In [23]:
df.shape

(32648, 8)

In [24]:
df.drop_duplicates(inplace=True)

In [25]:
df.duplicated().sum()

0

In [26]:
df.shape

(7324, 8)

In [27]:
# missing value  
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [28]:
cat_col = df.select_dtypes(include='O')
cat_col.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [29]:
num_col = df.select_dtypes(exclude='O')
num_col.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [30]:
# bike_price 
# feature selection  
cat_col.drop(['bike_name','city'],axis=1,inplace=True)

In [31]:
cat_col.owner.value_counts()

owner
First Owner             6642
Second Owner             588
Third Owner               84
Fourth Owner Or More      10
Name: count, dtype: int64

In [32]:
dt = {'First Owner':1,'Second Owner':2,'Third Owner':3,'Fourth Owner Or More':4}
dt

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [33]:
cat_col['owner'] = cat_col['owner'].map(dt)  # only single time execute

In [34]:
cat_col['brand'].nunique()

23

In [35]:
brand_list = list(cat_col['brand'].value_counts().keys())
brand_list

['Bajaj',
 'Royal Enfield',
 'Hero',
 'Honda',
 'Yamaha',
 'TVS',
 'KTM',
 'Suzuki',
 'Harley-Davidson',
 'Kawasaki',
 'Hyosung',
 'Mahindra',
 'Benelli',
 'Triumph',
 'Ducati',
 'BMW',
 'Jawa',
 'Indian',
 'MV',
 'Rajdoot',
 'LML',
 'Yezdi',
 'Ideal']

In [36]:
# for loop
# dict={}
# j=1
# for i in ls:
#     dict[i]=j
#     j+=1
# print(dict)

In [37]:
brand_dict = {}
for value,key in enumerate(brand_list,start=1):
    print(key , " >>> ",value)
    brand_dict[key]  = value

Bajaj  >>>  1
Royal Enfield  >>>  2
Hero  >>>  3
Honda  >>>  4
Yamaha  >>>  5
TVS  >>>  6
KTM  >>>  7
Suzuki  >>>  8
Harley-Davidson  >>>  9
Kawasaki  >>>  10
Hyosung  >>>  11
Mahindra  >>>  12
Benelli  >>>  13
Triumph  >>>  14
Ducati  >>>  15
BMW  >>>  16
Jawa  >>>  17
Indian  >>>  18
MV  >>>  19
Rajdoot  >>>  20
LML  >>>  21
Yezdi  >>>  22
Ideal  >>>  23

In [38]:
cat_col['brand'] = cat_col['brand'].map(brand_dict)

In [39]:
# combining two dataframes 
df2 = pd.concat([cat_col,num_col],axis='columns')
df2.head()

   owner  brand     price  kms_driven  age  power
0      1      6   35000.0     17654.0  3.0  110.0
1      1      2  119900.0     11000.0  4.0  350.0
2      1     14  600000.0       110.0  8.0  675.0
3      1      6   65000.0     16329.0  4.0  180.0
4      1      5   80000.0     10000.0  3.0  150.0

In [40]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

In [41]:
# splitting x and y 
x = df2.drop('price',axis='columns')
y = df2[['price']]

In [42]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7324 rows x 1 columns]

In [43]:
#### training testing split 
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test , y_train, y_test = train_test_split(x,y,test_size=0.2)  # 20% testing

In [45]:
from sklearn.linear_model import LinearRegression   # class

In [46]:
# object  
lnr = LinearRegression()

In [60]:
x_train.head()

      owner  brand  kms_driven  age  power
5759      1      2     13500.0  5.0  410.0
7723      1      1     20775.0  5.0  220.0
7832      1      2     10350.0  3.0  350.0
4342      1      1     18000.0  5.0  150.0
1485      1      6     26000.0  6.0  110.0

In [54]:
# Train 
lnr.fit(x_train,y_train)

LinearRegression()

In [59]:
## model testing or model evaluation phase   
print("Training score : ",lnr.score(x_train,y_train)*100)
print("Testing score : ",lnr.score(x_test,y_test)*100) 

# 90% above 
# model score ?  
# difference between training score and testing not should be more than 5
# model overfite or underfit 

# score  ==>  Down  90% 
# difference ==>  okay  5 % 


# ## overfit model 
# Training score == > High 
# Testing score  == > Low 


# ## Underfit model 
# Training score == > Low   73  
# Testing score  == > Low/High  85  ,  60

# generailed model 
# score high 
# differnce not > 5 
# underfit

Training score :  73.58264329489974
Testing score :  76.41191206667754

In [61]:
x_test.shape

(1465, 5)

In [63]:
x_test.head()

      owner  brand  kms_driven   age  power
139       1      2     14000.0   2.0  410.0
8144      1      2      8500.0   3.0  350.0
120       1      3     51576.0   6.0  100.0
2975      1      1     59944.0   8.0  180.0
4856      1      6    174638.0  14.0  150.0

In [64]:
### prediction  

unseen_bike = [[1,2,14000.0,2.0,410.0]]    # x variables 
lnr.predict(unseen_bike)

C:\Users\Ranjit\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[182412.79900853]])

In [65]:
prediction = lnr.predict(x_test)

In [69]:
y_test['prediction'] = prediction

In [71]:
y_test.head(40)

         price     prediction
139   173300.0  182412.799009
8144  154400.0  146728.561962
120    19695.0    9962.860609
2975   24000.0   22494.067221
4856   23000.0   42795.792528
5058   95000.0  136891.023198
7457   95000.0  137293.034707
1714   15800.0   -9156.058545
732   120000.0  215801.216120
1158   85700.0  134768.107623
3701  150000.0  161729.824870
391   126000.0  142794.507181
4899   26000.0   35140.344289
3163   42400.0   49791.443435
66     12200.0  -14084.950602
1187   38000.0    5598.906345
2683   40000.0   47693.085679
1548   13500.0  -31354.496572
5194   55000.0  109870.912873
975    50000.0   18714.130762
8398   43000.0   44312.517908
7173   64000.0   53013.689810
2497   65000.0   43049.420094
486    50390.0   86631.279380
4166   34000.0   15021.724927
2807   45000.0   48839.827920
6894   21000.0   45930.648193
1963  110000.0  158471.110132
8358  120000.0  120110.194121
7896   35000.0   19186.283827
8610   43000.0   61217.608524
8373  220000.0  197855.257523
798    33000.0   -6480.650681
5239  140000.0  140561.818151
8342   76000.0   88814.169990
3647   16500.0   46785.012678
2468   40000.0   52382.061616
1546  142000.0  146832.932695
1823   37500.0   11845.954226
3697  100000.0  134526.090309

In [74]:
final_data = pd.concat([x_test,y_test],axis='columns')
final_data.head()

#(actual price - predicted price )  ==> should be low

      owner  brand  kms_driven   age  power     price     prediction
139       1      2     14000.0   2.0  410.0  173300.0  182412.799009
8144      1      2      8500.0   3.0  350.0  154400.0  146728.561962
120       1      3     51576.0   6.0  100.0   19695.0    9962.860609
2975      1      1     59944.0   8.0  180.0   24000.0   22494.067221
4856      1      6    174638.0  14.0  150.0   23000.0   42795.792528

In [75]:
lnr # algorithm

LinearRegression()

In [76]:
ls = ['vashisht', 'vishab','antish','disha'] 
ls

['vashisht', 'vishab', 'antish', 'disha']

In [78]:
import joblib

In [79]:
joblib.dump(ls,'student_list.lb')     # to save your variable

['student_list.lb']

In [81]:
studet_list = joblib.load('student_list.lb')

In [82]:
studet_list

['vashisht', 'vishab', 'antish', 'disha']

In [83]:
# saving model on a local system 
joblib.dump(lnr,'regression_model.lb')

['regression_model.lb']

In [86]:
final_data.to_csv('prediction_data.csv',index=False)

In [ ]:
## algorithm  --> model 
# deployment